{% load static %}
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Berita</title>
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet"> 
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
        <style>
            body{
                font-family: 'Cabin', sans-serif;
                color: #000;
                text-align: justify;
                text-justify: inter-word;
                
            }
            
        </style>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark navbar-primary bg-primary static-top">
            <div class="container">
                <!-- Navbar -->
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item no-arrow mx-1">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i>
                            <span>Lapor Hoax</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 my-4">
                    <div class="px-4 shadow">
                        <h1>{{feed.title}}</h1>
                        <hr/>
                        <span>Ditulis Oleh : {{feed.author.username}}</span> | <span>Tanggal : {{feed.date}}</span>
                        <hr/>
                        <img src="{{feed.thumbnail.url}}" alt="{{feed.thumbnail}}" width="100%" height="300px">
                        <p>
                            {% autoescape off %}
                            {{feed.content}}
                            {% endautoescape %}
                        </p>
                        
                        
                        <!--
                        <div class="share-post">
                            <span>Share:</span>
                            <ul class="d-flex list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fab fa-line"></i> Line</a></li>
                                <li><a href="#"><i class="fab fa-telegram"></i> Telegram</a></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </body>

                    
        

</html>