{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/fa/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'js/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}
 

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="mb-2 text-gray-800 h3">Daftar User</h1>
    <!-- DataTales Example -->
    <div class="mb-4 shadow card">
        <div class="py-3 card-header">
            <h6 class="m-0 font-weight-bold text-primary">Tabel Laporan</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Instansi</th>
                            <th>Date Joined</th>
                            <th>Last Login</th>
                            <th>Staff?</th>
                            <th>Admin?</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Instansi</th>
                            <th>Date Joined</th>
                            <th>Last Login</th>
                            <th>Staff?</th>
                            <th>Admin?</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.email}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.office}}</td>
                            <td>{{user.date_joined}}</td>
                            <td>{{user.last_login}}</td>
                            <td>{{user.is_staff}}</td>
                            <td>{{user.is_admin}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}